<div class="container">
    <table class="table table-bordered table-stripper">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <!-- <th>Direccion</th>
                <th>Edad</th> -->
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of clientes()">
                <td>{{ c.nombre }}</td>
                <td>{{ c.apellido }}</td>
                <!-- <td>{{ c.direccion }}</td>
                <td>{{ c.edad }}</td> -->
                <td><button class="btn btn-primary btn-sm" (click)="enviar(c)" type="button">Enviar </button></td>
            </tr>
        </tbody>
    </table>
</div>